<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.js"></script>
</head>
<body>
<!-- banner -->
	<div class="banner1">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="../index">易物共享</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="../index">首页</a></li>
								<li><a href="../aboutus">关于我们</a></li>
								<li><a href="../offers">物品</a></li>
								<li><a href="../signin">登录</a></li>
								<li class="active"><a href="../contact">联系我们</a></li>
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="输入查询物品名称" type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="/static/classie.js"></script>
					<script src="/static/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

			</div>
		</div>
	</div>		
<!-- banner -->
<!--start-contact-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h3>CONTACT US</h3>
			</div>
			<div class="contact-bottom">
            <form action="#" method="post">
				<input type="text" value="Name" name="contact_name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" />
				<input type="text" value="Email" name="contact_email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
				<input type="text" value="Phone" name="contact_phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" />
				<textarea value="Message:" name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
				<div class="submit-btn">					
					<input type="submit" value="提交">					
				</div>
            </form>
			</div>
		<!--end-contact-->
		<!--start-map-->
			<div class="co-bt">
				<div class="col-md-3 add">
					<h4>地址</h4>
					<address>
						山东济南历下区, 舜华路1500号<br>
						山东大学, 齐鲁软件学院<br>
						<abbr title="Phone">P :</abbr> (123) 456-7890
					</address>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-map-->
<!-- footer -->
	<div class="footer-bottom">
			<div class="container">
				<p>易物共享平台欢迎使用</p>
			</div>
		</div>
<!-- footer -->
</body>
</html>