<!DOCTYPE HTML>
<html>
<head>
<title>Rooms</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.js"></script>
</head>
<body>
<!-- banner -->
	<div class="banner1">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="../index">易物共享</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="../index">首页</a></li>
								<li class="active"><a href="../aboutus">关于我们</a></li>
								<li><a href="../offers">物品</a></li>
								<li><a href="../signin">登录</a></li>
								<li><a href="../contact">联系我们</a></li>
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="输入查询物品名称" type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="/static/classie.js"></script>
					<script src="/static/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

			</div>
		</div>
	</div>		
<!-- banner -->
<!-- single -->
	<div class="single">
		<div class="container">
			<div class="single-top">
				<div class="col-md-6 single-left">
					<img src="/static/images/17.jpg" class="img-responsive" alt="">
				</div>
				<div class="col-md-6 single-right">
					<h3><a href="../aboutus">关于我们</a></h3>
					<p>毫无疑问，你是没有第二次机会来给人以“第一印象”。每个网站从首页到子页面都是介绍产品、提供服务、探讨功能，唯有“关于我们”这个页面是关乎产品和服务的创建者——我们自己，也是为什么它如此的重要。</p>
					<p>一个成功的“关于我们”不仅仅是将品牌、公司和团队信息填满一个页面那么简单粗暴，你需要将团队和品牌视作一个整体，呈现出独有的风格，不同的个性，让用户记住。 </p>
                    <p>每个网站从首页到子页面都是介绍产品、提供服务、探讨功能，唯有“关于我们”这个页面是关乎产品和服务的创建者——我们自己，也是为什么它如此的重要。一个成功的“关于我们”不仅仅是将品牌、公司和团队信息填满一个页面那么简单，你需要将团队和品牌视作一个整体，呈现出独有的风格，不同的个性，那么下面一起来看看我为大家分享的”关于我们“的一些案例。enjoy！</p>
					<h5>*立志于打造中国最好的共享平台.</h5>
					<h6>• Just do it and enjoy yourself</h6>
					<div class="sinbt">
						<a class="hvr-shutter-in-horizontal" href="../offers">开始使用</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		 </div>
	</div>
<!-- registration -->
<!-- footer -->
	<div class="footer-bottom">
			<div class="container">
				<p>易物共享平台欢迎使用</p>
			</div>
		</div>
<!-- footer -->
</body>
</html>