<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.js"></script>
</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="../index">易物共享</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="../index">首页</a></li>
								<li><a href="../aboutus">关于我们</a></li>
								<li><a href="../offers">物品</a></li>
								<li><a href="../signin">登录</a></li>
								<li><a href="../contact">联系我们</a></li>
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="输入查询物品名称" type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="/static/classie.js"></script>
					<script src="/static/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

			</div>
		</div>
		<div class="banner-info">
			<div class="container">
				<div class="details-1">
					<div class="col-md-10 dropdown-buttons">
						<div class="col-md-3 dropdown-button">
							<div class="input-group">
								<input class="form-control has-dark-background" name="slider-namename" id="slider-name" placeholder="物品名称" type="text" required>
							</div>
						</div>
						<div class="col-md-3 dropdown-button">
							<div class="input-group">
								<input class="form-control has-dark-background" name="slider-namebrand" id="slider-brand" placeholder="物品品牌" type="text" required>
							</div>
						</div>
						<div class="col-md-3 dropdown-button">
							<div class="input-group">
								<input class="form-control has-dark-background" name="slider-namehobby" id="slider-hobby" placeholder="相应爱好" type="text" required>
							</div>
						</div>
						<div class="col-md-3 dropdown-button">
						  <div class="section_1">
							 <select id="country" onChange="change_country(this.value)" class="frm-field required">
								<option value="null">全部</option>
								<option value="null">电子产品</option>
                                <option value="AX">书籍文献</option>
								<option value="AX">日常用品</option>
								<option value="AX">其它工具</option>
							 </select>
						  </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-2 submit_button">
						<form action="../details">
							<input type="submit" value="搜索">
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- banner -->
<!-- single -->
	<div class="single">
		<div class="container">
			<div class="single-top">
            	<h3><span>网站简介</span></h3>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户在搜索关键词的时候，首先呈现给用户的是title和描述部分，网站想要在成千上万的搜索结果中脱颖而出，就得需要有一个吸引用户点击的描述。能进一步吸引用户点击，得到用户的青睐，醒目的描述将会是吸引用户点击你的网站原因，因为标题的长度有限，并不能显示完全，而描述是概括一个网页内容的简洁话语，那么网站的描述怎么写？</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一，描述的要跟页面内容相符合。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然说网站的描述是直接呈现给用户来看的，但是我们不能为了吸引用户点击而去写一些跟内容相差很大的，用户在搜索关键词的时候会选择一个跟意向较近的去点击，如果我们不能提供解决用户问题的页面，那么点击上去了，跳出率就会比较高了。不能提供用户想要的内容，降低用户信任度，那么对于网站来说是得不偿失的</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二，页面描述需要做到简洁明了</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网页的描述相对于标题来说要详尽一些，但是它也是对一个网页的概括，所以应该做到简明扼要写出这个网页的主要表达的、包含的是什么，用户是很懒的，不可能仔细读完你的描述，搜索结果页面也只会显示一般不超过60个中文；</p>
			</div>
		 </div>
	</div>
<!-- single -->
<!-- special -->
	<div class="special">
		<div class="container">
			<div class="spe-info">
				<h3>公告</h3>
				<p>易物共享平台今日于2017/11/22成立，欢迎广大用户使用</p>
			</div>
		</div>
	</div>
<!-- special -->
<!-- quick -->
	<div class="quick">
		<div class="container">
			<div class="col-md-4 quick-left">
				<h3>最热评论</h3>
					<ul>
						<li><a href="#">Distribution of letters, as opposed</a></li>
						<li><a href="#">Distribution of letters, as opposed</a></li>
						<li><a href="#">Distribution of letters, as opposed</a></li>
						<li><a href="#">Distribution of letters, as opposed</a></li>
						<li><a href="#">Distribution of letters, as opposed</a></li>
					</ul>
			</div>
			<div class="col-md-4 quick-left">
				<h3>时事通讯</h3>
				<div class="new">
					<div class="n-lft">
						<h5>10</h5>
						<h6>Sep</h6>
					</div>
					<div class="n-rgt">
						<p>Lorem Ipsum is that it has a more-or-less normal<a href="#">More</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="new-1">
					<div class="n-lft">
						<h5>15</h5>
						<h6>Sep</h6>
					</div>
					<div class="n-rgt">
						<p>That it has a more-or-less normal distribution<a href="#">More</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 quick-left">
				<h3>快速留言</h3>
					<form>
						<input type="text" class="textbox" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
						<textarea placeholder="" onFocus="this.value='';" onBlur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						<input type="submit" value="提交">
					</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- quick -->
<!-- footer -->
	<div class="footer-bottom">
			<div class="container">
				<p>易物共享平台欢迎使用</p>
			</div>
		</div>
<!-- footer -->
</body>
</html>