<!DOCTYPE HTML>
<html>
<head>
<title>Offers</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap.js"></script>
</head>
<body>
<!-- banner -->
	<div class="banner1">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="../index">易物共享</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="../index">首页</a></li>
								<li><a href="../aboutus">关于我们</a></li>
								<li class="active"><a href="../offers">物品</a></li>
								<li><a href="../signin">登录</a></li>
								<li><a href="../contact">联系我们</a></li>
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="输入查询物品名称" type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="/static/classie.js"></script>
					<script src="/static/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

			</div>
		</div>
	</div>		
<!-- banner -->
<!-- offers -->
	<div class="offers">
    	<div class="bar_navi">
        	<nav class="nav">
  			<input type="checkbox" class="nav__cb" id="menu-cb">
  			<div class="nav__content">
    			<ul class="nav__items" id="Navigation">
     				<li class="nav__item"><a href="#"><span class="nav__item-text">全部</span></a></li>
      				<li class="nav__item"><a href="#"><span class="nav__item-text">电子产品</span></a></li>
                    <li class="nav__item"><a href="#"><span class="nav__item-text">书籍文献</span></a></li>
      				<li class="nav__item"><a href="#"><span class="nav__item-text">日常用品</span></a></li>
      				<li class="nav__item"><a href="#"><span class="nav__item-text">其它工具</span></a></li>
    			</ul>
  			</div>
  			<label class="nav__btn" for="menu-cb"></label>
			</nav>
        </div>
		<div class="container" id="search_result">
			<div class="col-md-4 offers-left">
				<h3>单反相机</h3>
				<img src="/static/images/3.jpg" class="img-responsive" alt="">
				<h4>尼康</h4>
				<p>物品详细介绍，型号XXX，性能XXX，用户评价XXX</p>
				<a class="hvr-shutter-in-horizontal" href="../details">Want It!</a>
			</div>
			<div class="col-md-4 offers-left">
				<h3>蓝牙耳机</h3>
				<img src="/static/images/4.jpg" class="img-responsive" alt="">
				<h4>索尼</h4>
				<p>物品详细介绍，型号XXX，性能XXX，用户评价XXX</p>
				<a class="hvr-shutter-in-horizontal" href="../details">Want It!</a>
			</div>
			<div class="col-md-4 offers-left">
				<h3>滑板</h3>
				<img src="/static/images/5.jpg" class="img-responsive" alt="">
				<h4>迈卡隆</h4>
				<p>物品详细介绍，型号XXX，性能XXX，用户评价XXX</p>
				<a class="hvr-shutter-in-horizontal" href="../details">Want It!</a>
			</div>
			<div class="clearfix"></div>
			<div class="offer-btm">
				<div class="col-md-4 offers-left">
					<h3>单反相机</h3>
					<img src="/static/images/2.jpg" class="img-responsive" alt="">
					<h4>佳能</h4>
					<p>物品详细介绍，型号XXX，性能XXX，用户评价XXX</p>
					<a class="hvr-shutter-in-horizontal" href="../details">Want It!</a>
				</div>
				<div class="col-md-4 offers-left">
					<h3>智能手机</h3>
					<img src="/static/images/16.jpg" class="img-responsive" alt="">
					<h4>小米</h4>
					<p>物品详细介绍，型号XXX，性能XXX，用户评价XXX</p>
					<a class="hvr-shutter-in-horizontal" href="../details">Want It!</a>
				</div>
				<div class="col-md-4 offers-left">
					<h3>折叠自行车</h3>
					<img src="/static/images/8.jpg" class="img-responsive" alt="">
					<h4>吉安特</h4>
					<p>物品详细介绍，型号XXX，性能XXX，用户评价XXX</p>
					<a class="hvr-shutter-in-horizontal" href="../details">Want It!</a>
				</div>
				<div class="clearfix"></div>
			</div>
		 </div>
	</div>
    <div id="page">
    	<ul id="pagelist">
        	<li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
        </ul>
    </div>
<!-- offers -->
<!-- footer -->
	<div class="footer-bottom">
			<div class="container">
				<p>易物共享平台欢迎使用</p>
			</div>
		</div>
<!-- footer -->

</body>
</html>